
.hscroll {
  overflow: auto;
  white-space: nowrap;
}

/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Snell Roundhand', 'cursive' !default;

// colors
$body-bg: #ffffff !default;
$body-color: #536895   !default;
$link-color: #0b8891 !default;
$selection-bg: #74f71d !default;

// headings
$presentation-heading-font: 'Blippo', 'fantasy';
$presentation-heading-color: #536895     !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}


/* Tamanho do título da seção */
.reveal h1 {
    font-size: 40px; /* Ajuste conforme necessário */
}

.reveal h2 {
    font-size: 10px; /* Ajuste conforme necessário */
}

